.buildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.buildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 2px solid #aa6817;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
}

.buildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.buildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.label {
  padding: 10px;
  font-weight: bold;
  width: 100px;
  text-align: right;
}

.buildControl .less {
  background-color: #d39952;
  color: white;
}

.buildControl .more {
  background-color: #8f5e1e;
  color: white;
}
