.sideBar {
  width: 280px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 200;
  padding: 32px 16px;
  translation: transform 0.3s ease-out;
}

.logo {
  height: 10%;
}

@media (min-width: 500px) {
  .sideBar {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}
